/**
 * Autocomplete
 */

#search_container {
    position: fixed;
    top: 50px;
    border: none;
    border-bottom: solid 1px #aaa;
    padding: 0 120px;
    z-index: 9999;
    background: $white;

    .input-group {
        height: 100%;

        .input-group-addon {
            font-size: 16px;
        }

        .form-control {
            border: none !important;
            outline: none !important;
            box-shadow: none !important;
            font-size: 18px;
            padding: 12px 10px;
            height: 35px;

            &:focus {
                outline: none !important;
            }
        }
    }
}

#autocomplete {
    border-bottom: none;
    text-align: left;
    display: none;
    margin-top: -2px;

    ul.list-group {
        li {
            span {
                font-size: 18px;
            }

            img {
                vertical-align: text-top;
            }
        }
    }
}

#autocomplete_wrapper {
    width: 100% !important;
    position: fixed;
    top: 93px;
    z-index: 9999;
    padding-left: $side-padding;
    padding-right: $side-padding;
    border: none;
    background: $white;
    text-align: center;

    .input-group,
    .form-control {
        border-bottom: none;
        border: none !important;
    }
}