/**
 * Carousel
 */
.main-icon {
    font-size: 350px;
    color: $black;
}

.head-line {
    font-size: 70px;
    padding-bottom: 10px;
    line-height: 65px;
    font-weight: 900;
    color: #0d4f8b;
}

.main-top-margin {
    background: #fff;
    margin-top: 0;

    p {
        color: #777;
        font-size: 26px;
    }
}