/* Chart Data */
#chart_load {
    background: #f0f0f0;
    padding-bottom: 0;
    margin: 15px 0 25px 0;

    #chart_data {
        #glance {
            h3 {
                font-size: 24px;
                color: $black;

                @media screen and (max-width: $break-medium) {
                    font-size: 20px;
                }
            }
        }

        #chart_block {
            padding: 10px;

            ul {
                @media screen and (max-width: $break-medium) {
                    margin-left: 10px;
                }

                margin-bottom: 0;

                li {
                    background: $white !important;
                    cursor: auto;
                    padding: 0;
                    font-size: 20px;
                    font-weight: 700;
                    cursor: auto;

                    &:hover {
                        color: $black !important;
                    }

                    @media screen and (max-width: $break-medium) {
                        font-size: 16px;

                        @media (min-width: $break-small) and (max-width: $break-medium) {
                            font-size: 20px;
                        }
                    }
                }
            }
        }

        #mr, #mrs {
            @media screen and (max-width: $break-medium) {
                margin-top: 9px;

                @media (min-width: $break-small) and (max-width: $break-medium) {
                    width: 100%;
                }
            }

            img {
                padding: 5px;
                border: solid 1px #ccc;
            }

            .svg {
                width: 120px !important;
                height: 120px !important;

                path {
                    fill: $blue;
                }

                &#lance {
                    path {
                        fill: $salmon;
                    }
                }
            }

            .hottest_name {
                margin-left: 10px;

                .salutation {
                    font-weight: 700;
                    font-size: 20px;

                    @media screen and (max-width: $break-medium) {
                        font-size: 16px;

                        @media (min-width: $break-small) and (max-width: $break-medium) {
                            font-size: 20px;
                        }
                    }   

                    + span {
                        font-size: 16px;

                        @media (min-width: $break-small) and (max-width: $break-medium) {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}