/**
 * Font-Awesome
 */
#heart_icon,
#match_icon {
    margin-left: 12px;
    margin-right: 7px;
}

.fa-heart,
.fa-refresh {
    color: $green;
}

.fa-share {
    cursor: pointer;
}

.fa-thumbs-up,
.fa-globe {
    color: #08f;
}

.fa-thumbs-down {
    color: #b4ff69;
}

.fa-map-marker {
    color: #c61931;
}

.fa-twitter {
	color: $blue;
}

.fa-rocket {
	color: #ffb300;
}

.fa-random {
	color: #71456c;
}

.fa-bullhorn,
.fa-ban  {
    color: $black;
}