/**
 * Font-Awesome
 */
#heart_icon, #match_icon {
    margin-left: 12px;
    margin-right: 7px;
}

.fa-facebook-square {
    color: #3b5998 !important;
}

.fa-refresh {
    color: $green;
}

.fa-star {
    color: #e6c200;
}

.fa-heart {
    color: $salmon;
}

.fa-thumbs-up {
    color: #08f;
}

.fa-globe {
    color: $green;
}

.fa-thumbs-down {
    color: #b4ff69;
}

.fa-map-marker, .fa-rocket, .fa-ban {
    color: #c61931;
}

.fa-heartbeat {
    color: $green;
}