/**
 * FAQ
 */
#faq,
#about,
#terms {
    padding: 0 5px;
    border-bottom: solid 1px #ccc;
    margin-bottom: 20px;

    h2 {
        font-size: 26px;
        margin-top: 7px;

        @media screen and (max-width: $break-small) {
            font-size: 20px;
        }
    }

    p {
        font-size: 16px;
        color: #444;
        margin-bottom: 12px;
        line-height: 25px;
    }

    ol {
        

        li {
            font-size: 14px;
            line-height: 25px;
        }
    }
}