#footer {
    z-index: 99999999;

    #sub_footer {
        #top_footer {
            background: #fff;
        }

        .col-lg-12 {
            text-align: center;
            padding: 0;
            
            @media screen and (min-width: $break-large) {
                padding: 0 $side-padding;
            }

            .col-lg-3 {
                .m_line {
                    width: 100%;
                    padding: 10px 0;
                    background: $blue;
                    color: $white;
                    font-weight: 600;
                    font-size: 22px;

                    @media screen and (max-width: $break-medium) {
                        display: none;
                    }
                }

                .fa {
                    color: $white;
                }

                &:nth-of-type(2) {
                     .m_line {
                        background: $salmon;
                    }
                }

                &:nth-of-type(3) {
                     .m_line {
                        background: $green;
                    }
                }

                &:nth-of-type(4) {
                     .m_line {
                        background: #c61931;
                    }
                }

                .hide_rasp {
                    width: 100%;
                    padding: 10px 0;
                    background: $blue;
                    color: $white;
                    font-weight: 600;
                    font-size: 22px;
                    display: none;
                }

                &:nth-of-type(2) {
                    .hide_rasp {
                        background: $salmon;
                    }
                }

                &:nth-of-type(3) {
                    .hide_rasp {
                        background: $green;
                    }
                }

                &:nth-of-type(4) {
                    .hide_rasp {
                        background: #c61931;
                    }
                }

                float: left;
                width: 25%;
                margin: 0;
                padding: 0;

                @media screen and (max-width: $break-medium) {
                    width: 100%;
                }

                @media screen and (max-width: $break-small) {
                    .hide_rasp {
                        display: block;
                    }   
                }

                ul {
                    -webkit-padding-start: 0;
                    list-style: none;
                    width: 100%;
                    margin: 8px 0;
                    padding: 0 10px;

                    li {
                        text-align: left;
                        padding: 6px 0;

                        @media screen and (max-width: $break-medium) {
                            text-align: center;
                        }

                        .twitter-follow-button {
                            margin-left: 0px;
                        }

                        a {
                            color: #090127;
                            font-size: 16px;

                            // Phone
                            @media screen and (max-width: $break-small) {
                                font-size: 13px;
                            }

                            // Tablet
                            @media (min-width: $break-small) and (max-width: $break-medium) {
                                font-size: 16px;
                            }

                            @media screen and (min-width: $iphone_five_width) and (max-width: $iphone_five_width)  {
                                font-size: 10px;
                            }
                
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }

    #copyright {
        background-color: $black;
        padding: 20px;

        p {
            color: $white;
            margin: 0;

            a {
                color: #fff;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}