/**
 * Footer
 */
#footer {
    z-index: 99999999;

    #list_name {
        background-color: $green;
        background-image: url('../img/bg.png');
        padding: 0 20px;
    
        @media screen and (min-width: $break-large) {
            padding: 0 $side-padding;
        }

        @media screen and (max-width: $break-medium) {
            padding: 20px 0;
        }

        .col-lg-3 {
            @media screen and (max-width: $break-medium) {
               display: none; 
            }

            font-size: 24px;
            font-weight: 600;
            padding: 8px 0;
            text-align: left;
            color: $white;
            float: left;
            width: 25%;

            .fa {
                color: $white !important;
            }
        }

        #slogan {
            display: none;

            @media screen and (max-width: $break-medium) {
               display: block;
               font-size: 22px;
               color: $white; 
               font-weight: 700;

                @media (min-width: $break-small) and (max-width: $break-medium) {
                    font-size: 28px;
                }
            }
        }
    }

    #sub_footer {
        background-color: $white;
        text-align: center;
        padding: 0 20px;
        
        @media screen and (min-width: $break-large) {
            padding: 0 $side-padding;
        }

        .col-lg-3 {
            float: left;
            width: 25%;
            margin: 0;
            padding: 0;

            @media screen and (max-width: $break-medium) {
                width: 100%;
            }

            ul {
                -webkit-padding-start: 0;
                list-style: none;
                width: 100%;
                margin: 8px 0;

                li {
                    text-align: left;
                    padding: 6px 0;

                    @media screen and (max-width: $break-medium) {
                        text-align: center;
                    }

                    &#users_foot, &#places_foot {
                        color: #444;

                        @media screen and (max-width: $break-medium) {
                            display: inline;
                            font-weight: 600;

                            @media screen and (min-width: $break-small) and (max-width: $break-medium) {
                                font-size: 18px;
                            } 
                        }

                        @media screen and (min-width: $iphone_five_width) and (max-width: $iphone_five_width)  {
                            font-size: 12px;
                        }
                    }

                    .twitter-follow-button {
                        margin-left: 0px;
                    }

                    a {
                        color: #666;
                        font-size: 16px;

                        // Phone
                        @media screen and (max-width: $break-small) {
                            font-size: 12px;
                        }

                        // Tablet
                        @media (min-width: $break-small) and (max-width: $break-medium) {
                            font-size: 16px;
                        }

                        @media screen and (min-width: $iphone_five_width) and (max-width: $iphone_five_width)  {
                            font-size: 10px;
                        }
            
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }

    #copyright {
        background-color: $black;
        padding: 20px;

        p {
            color: $white;
            margin: 0;
        }
    }
}