form {
    margin-bottom: 0;
}

input[type=text],
input[type=password],
textarea.form-control {
    border-radius: 0;
    box-shadow: none;
}

.input-group {
    width: 100%;
    height: 30px;
    overflow: hidden;
}

.input-group-addon {
    box-shadow: none;
    border: none;
    background: $white;
    color: $black;
}

.btn-group {
    float: right;
}

.btn {
    padding: 8px 13px;
    border: none;
}

.btn-success {
    background: $green;

    &:hover,
    &:focus {
        background: $dk_green;
    }
}

.btn-primary {
    background: $blue;

    &:hover {
        background: $dk_blue;
    }
}

.btn-default {
    border: solid 1px #ccc;
}

button:focus {
    outline: none !important;
    box-shadow: none;
}