#header-section {
    min-height: 250px;
    
    @media screen and (max-width: $break-small) {
        padding: 0 20px;
    }
    
    @media screen and (min-width: $break-large) {
        padding: 0 $side-padding;
    }

    .container {
        width: 100%;
        padding-left: 0 !important;
        padding-right: 0;
        padding-bottom: none;
    }

    .page-header {
        margin: 0;
        border-bottom: solid 1px #ccc;
        margin-bottom: 12px;
        padding: 2px 10px 10px 10px;
        width: 100%;

        @media screen and (max-width: $break-small) {
            font-size: 22px;
        }

        .img-circle {
            width: 50px;
        }
    }

    #profile_top {
        min-height: 340px;
        padding: 110px 0 20px 0;
        background: $white;
        height: auto;
        overflow: hidden;

        h1 {
            padding-top: 0;
            margin-top: 0;
            margin-bottom: 0;
            height: 200px;

            img {
                vertical-align: text-top;
            }

            span {
                color: $black;
                font-size: 16px;
                position: relative;
                top: 12px;
                color: #07f;
                cursor: pointer;

                &:hover {
                    color: #05f;
                }
            }
        }

        a#report_user {
            margin-top: 8px;
            display: block;
        }
    }

    #signin {
        padding: 95px 0 0 0;
        height: auto;
        min-height: 630px;
        background: $white;

        #settings_submit {
            padding: 20px 0;
            border-top: solid 1px #ccc;
        }
    }
}