/**
 * Hot load
 */
#hot_load {
    margin: 10px 0;
    border-bottom: solid 1px #ccc;
    padding-bottom: 10px;

    .main_none {
        border: solid 1px $border-color;
        padding: 15px;
        margin: 10px 0;
    }

    #media_container {

        .media {
            padding: 7px 10px;
            border: solid 1px $border-color;
            border-bottom: none;
            margin: 0;
            cursor: pointer;

            h4 {
                font-size: 20px;
                font-weight: 600;

                span.pull-right {
                    font-size: 16px;

                    .fa {

                    }
                }
            }

            p {
                margin: 0;
                font-size: 16px;

                span.highlight {
                    color: red;
                }
            }

            img {
                width: 100px;
                margin: 0;
                border: solid 1px #ccc;
                padding: 5px;
            }

            &:hover {
                background: #f0f0f0;
            }

            &:nth-of-type(odd) {
                background: #f7f7f7;
            }

            &:last-of-type {
                border-bottom: solid 1px #ccc !important;
            }
        }
    }

    button#see_more {
        width: 100%;
        margin-top: 10px;
        background: #f4f4f4;

        &:hover {
            background: #e8e8e8;
            border: solid 1px #ccc;
        }
    }
}