/**
 * Hot load
 */
#hot_load {
    margin: 10px 0 0 0;

    .main_none {
        border: solid 1px $border-color;
        padding: 15px;
        margin: 10px 0;
    }

    .sub_load {
        padding: 10px 0 7px 0;
    }

    .container-fluid {
        padding: 0;

        .row {
            margin: 0;
            margin-top: 5px;
            width: 100%;

            .col-lg-2 {
                padding: 5px;
                text-align: center;
                cursor: pointer;
                margin-bottom: 0;

                img {
                   margin-bottom: 0;
                   height: 100%;
                   width: 100%;
                   display: block;

                    @media screen and (max-width: $break-small) {
                        width: 84px !important;
                        height: 84px !important;
                    }
                }
            }
        }

        &:first-of-type {
            .row {
                margin-top: 0;
            }
        }
    }

    button#see_more {
        width: 100%;
        margin-top: 10px;
    }
}