#match_box {
    h1.page-header {
        margin-bottom: 0;

        .fa {
            color: $green;
        }

        span {
            display: block;
        }
    }

    #match_load {
        margin-bottom: 20px;
        padding: 0;

        .none {
            border: none;

            .img-circle {
                border: solid 1px #ccc;
                padding: 5px;
                background: #f0f0f0;
            }
        }
    }

    textarea {
        height: 100px;
        border-radius: 3px;
    }

    button {
        float: right;
        margin-top: 10px;
    }
}

#comment_box {
    margin-top: 25px;
    
    h3 {
        font-weight: 700;

        .fa {
            color: $blue;
        }
    }
    
    .twitter-share-button {
        margin-top: 0;
        font-size: 16px;
    }

    .panel-body {
        padding: 0 15px;
    }

    #disqus_thread {
        padding: 0;
        margin: 3px 0 8px 0;
        background: #fff;
    }
}

@import 'chat';