/**
 * Modal
 */
.modal {
    z-index: 999999;

    .modal-content {
        margin-top: 60px;
        border-radius: 0;

        .modal-header {

            h3 {
                font-size: 28px;
                margin: 0;
                padding: 0;

                @media screen and (max-width: $break-small) {
                    font-size: 20px;
                }

                .close {
                    font-size: inherit;
                    margin-top: 5px;
                }
            }

            i {
                color: $black;   

                @media screen and (max-width: $break-small) {
                    font-size: 20px;
                }
            }

            .fa-globe {
                color: $green !important;
            }
        }

        h4 {
            font-size: 32px;
            text-align: center;

            @media screen and (max-width: $break-small) {
                font-size: 22px;
            }
        }

        .modal-body {
            background: $white;

            a {
                font-size: 24px;
            }

            #other_box {
                margin: 0;
                padding: 0 10px 10px 10px;
                display: none;
            }
        }

        .modal-footer {
            text-align: right;

            #login_error {
                padding: 8px;
                color: $white;
                background: #08f;
            }
        }

        .ajax-loader {
            margin-top: 0;
            padding: 50px 0;
        }
    }
}

#contact_modal {
    p {
        line-height: 25px;
    }
}

#match_modal {
    .modal-body {
        padding: 15px 0 8px 0; 

        .col-lg-6 {
            width: 50%;

            img {
                width: 172px;
                height: 172px;
                border: solid 1px #ddd;
                padding: 5px;
            }

            @media screen and (max-width: $break-small) {
                img {
                    width: 100px;
                    height: 100px;
                }

                button {
                    font-size: 10px;
                }
            }
        }

        p {
            margin-bottom: 0;

            @media screen and (max-width: $break-small) {
                font-size: 12px;
            }
        }
    }
}

.panel {
    border-radius: 0;
}

#gallery_modal {
    .modal-backdrop {
        opacity: 0.7;
    }

    .modal-dialog {
        width: 350px;

        .modal-header {
            text-align: center;
        }

        #gallery_img {
            width: 320px;
            margin-bottom: 0;
            display: inline;
        }
    }
}

#terms_modal {

    .modal-body {

        p, a {
            font-size: 16px;
            margin: 0;
        }
    }
}

#sync_modal {
    text-align: center;

    #center_load {
        width: auto;
        display: inline-block;
        padding: 20px;
        border: solid 1px #ddd;
        background: #fff;
        margin-top: 100px;
    }

    #fb_why {
        display: none;
        margin-top: 4px;
        border: solid 1px #ccc;
        padding: 7px 11px;
        background: #f0f0f0;

        &.visible {
            display: block;
        }

        p, a {
            font-size: 16px;
            text-align: left;
            margin: 0;
        }
    }

    span.pull-right {
        margin-top: 7px;

        a {
            font-size: 14px;
        }
    }
}