/**
 * Navbar
 */
.navbar {
    position: fixed;
    background: $blue;
    margin: 0 auto; 
    z-index: 99999;
    border: none;

    @media screen and (max-width: $break-small) {
        padding: 0 20px;
        border-bottom: solid 1px #555;

        .container {
            opacity: 0.8;
        }
    }
    
    @media screen and (min-width: $break-large) {
        padding: 0 $side-padding;
    }

    .navbar-toggle {
        border: none;
        background: $blue;
        color: $white;

        &:hover {
            color: #ccc;
        }
    }

    .container {
        width: 100%;
    }

    .navbar-brand {
        z-index: 99999;
        color: $white;
        text-shadow: none;
        font-family: Tinder;
        font-size: 32px;
        letter-spacing: 3px;
        padding: 0 8px;
        cursor: pointer;

        span#we {
            margin-left: -8px;
            color: #fff;
        }

        &:hover {
             transition: 0.8s;
             color: $border-color;

             .svg {
                path {
                    fill: #fff;
                }
            }
        }
    }

    .navbar-collapse {
        @media screen and (max-width: $break-small) {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
            margin-left: 0;
            margin-right: 0;
        }

        ul.navbar-nav {
            @media screen and (max-width: $break-small) {
                float: none !important;
                -webkit-padding-start: 0 !important;
                margin: 0 0 8px 0;
            }

            > li {
                padding: 8px;

                button {
                    background: $green;
                }

                &:first-of-type {
                    padding-right: 0;
                }

                a {
                    background: inherit;
                    color: $white;
                    font-size: 16px;

                    @media screen and (max-width: $break-small) {
                        font-size: 13px;
                    }

                    outline: none;
                }

                &.active {
                    > a:hover {
                        background: $blue;
                    }

                    > a:focus {
                        background: $blue;
                    }
                }

                &.dropdown {
                    padding: 0;
                    background: $blue;

                    @media screen and (min-width: $break-large) {
                        padding: 0 20px;
                    }

                    &:hover {
                        background: $dk_blue;

                        &.open {
                            background: $dk_blue;
                        }
                    }

                    &.open {
                        background: $dk_blue;
                    }

                    a {
                        &.dropdown-toggle {
                            padding: 8px 10px;
                            height: 100%;

                            img {
                                width: 35px;
                                height: 35px;
                                display: inline;
                                margin-bottom: 0;
                                vertical-align: middle;
                            }

                            #like_count {
                                @media screen and (max-width: $break-small) {
                                    float: right;
                                    margin-top: 6px;
                                }
                            }

                            span#header_name {
                                margin-left: 7px;
                            }
                        }
                    }
                }
            }
        }

        > .container {
            display: block;
            width: 100%;
            margin: 0;
            padding: 0;
            z-index: 9999;
        }
    }
}

.navbar-inverse .navbar-nav > .open > a {  
    background-color: orange;
}

#wrapper {
    padding-left: 0;
    transition: all .4s ease 0s;
    height: 100%
}

@media screen and (min-width: $break-large) {
    #sidebar-wrapper {
        display: none;
    }
}

@media screen and (max-width: $break-small) {
    $width: 365px;

    #sidebar-wrapper {
        margin-left: -365px;
        left: 0;
        width: $width;
        background: #f0f0f0;
        position: fixed;
        height: 100%;
        z-index: 10000;
        transition: all .4s ease 0s;

        .sidebar-nav {
            display: block;
            float: left;
            width: $width;
            list-style: none;
            margin: 0;
            padding: 0;
            padding-top: 54px;

            li {
                border-bottom: solid 1px #ddd;
                cursor: pointer;
                transition: 0.4s;

                a {
                    display: block;
                    background: $white;
                    padding: 10px;
                    color: #090127;
                    transition: 0.4s;
                }

                &:hover {
                    a {
                        background: #07f;
                        color: #fff;
                    }
                }
            }
        }

        span {
            bottom: 4px;
            right: 0;
            text-align: center;
            display: block;
            width: 100%;
            color: #666;
            position: absolute;
            font-size: 12px;
        }
    }

    #wrapper.active {
        margin-left: $width;
        border-left: solid 1px #ddd;
    
        #sidebar-wrapper {
            left: $width;
        }
    }
}