/**
 * Polaroid pics
 */
.polaroid-images {
    list-style: none;
    position: relative;
    margin-top: -50px;
    margin-bottom: 0;
    top: 0px;
    -webkit-padding-start: 0;

    li {
        display: inline-block;
        margin-left: 20px;
        height: auto !important;
        background: $white;
        margin: 0 15px 10px;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        -webkit-transition: all .15s linear;
        -moz-transition: all .15s linear;
        transition: all .15s linear;
        position: relative;
        border: solid 1px #bbb;
        cursor: pointer;
        z-index: 1;

        img { 
            width: inherit; 
            background: $white;
            border: solid 1px #ccc;
        }

        &:first-of-type {
            -webkit-transform: rotate(330deg);  
            -moz-transform: rotate(330deg); 
            transform: rotate(330deg); 
        }

        &:nth-child(2n) {
            -webkit-transform: rotate(27deg);  
            -moz-transform: rotate(27deg); 
            transform: rotate(27deg); 
            margin-left: -30px;
        }

        &:nth-child(3n) {
            -webkit-transform: rotate(-14deg);  
            -moz-transform: rotate(-14deg); 
            transform: rotate(-14deg); 
            margin-left: -20px;
        }

        &:nth-child(4n) {
            -webkit-transform: rotate(26deg);  
            -moz-transform: rotate(26deg); 
            transform: rotate(26deg); 
            margin-left: -25px;
        }

        &:nth-child(5n) {
            -webkit-transform: rotate(-18deg);  
            -moz-transform: rotate(-18deg); 
            transform: rotate(-18deg); 
            margin-left: -40px;
        }

        &:hover {
            -webkit-transform: rotate(30deg); 
            -moz-transform: rotate(30deg);
            transform: rotate(30deg);
            -webkit-transform: scale(1.2); 
            -moz-transform: scale(1.2);
            transform: scale(1.2);
            transition: 0.4s;
        }
    }
}

#polaroid_wrap {
    height: auto;
    width: auto !important;
    background: $white;
    padding: 14px;
    display: inline-block;
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    transition: all .15s linear;
    -webkit-transform: rotate(-10deg); 
    -moz-transform: rotate(-10deg);
    transform: rotate(-10deg);
    position: relative;
    border: solid 1px #bbb;

    &:hover {
        -webkit-transform: rotate(-4deg) !important;  
        -moz-transform: rotate(-4deg) !important; 
        transform: rotate(-4deg) !important; 
        transition: 0.4s !important;
    }
}