#profile-section {
    min-height: 250px;
    padding: 0;

    .container {
        width: 100%;
        padding: 0;

        #focus_box {
            padding: 0;
            background: $white;
            border-bottom: none;
            text-align: left;
            margin-top: 85px;

            #ping_wrapper {
                background: $white;

                #ping_map {
                    width: 100%;
                    height: 300px;
                    border: none;
                    background: $white;

                    .ajax-loader {
                        margin-top: 0;
                    }
                }
            }

            #stripe {
                position: absolute;
                width: 100%;
                top: 385px;
                background: #fff;
                border-bottom: solid 1px #ddd;

                @media screen and (max-width: $break-medium) {
                    padding: 0 20px;
                    display: none;
                }
                
                @media screen and (min-width: $break-large) {
                    padding: 0 $side-padding;
                }

                .col-lg-8 {
                    padding: 0;

                    .row {
                        padding-left: 0;
                        margin-left: -35px;
                    }
                }

                button {
                    margin-top: 16px;
                    position: absolute;
                    right: 0;
                    bottom: 14px;

                    .fa {
                        color: $white;
                    }

                    &.btn-default {
                        .fa {
                            color: $blue;
                        }
                    }

                    &.btn-success {
                        cursor: auto;
                    }
                }
            }

            #resize_stripe {
                width: 100%;
                background: #fff;
                
                @media screen and (min-width: $break-large) {
                    display: none;
                }
            }

            #resize_edit {
                margin-top: 12px;

                @media screen and (min-width: $break-large) {
                    display: none;
                }

                button {
                    .fa {
                        color: $white;
                    }

                    &.btn-default {
                        .fa {
                            color: $blue;
                        }
                    }

                    &.btn-success {
                        cursor: auto;
                    }
                }
            }

            #profile_page_info {
                margin-top: -150px;
                min-height: 300px !important;
                background: #f0f0f0;

                @media screen and (max-width: $break-medium) {
                    padding: 0 20px;
                }
                
                @media screen and (min-width: $break-large) {
                    padding: 0 $side-padding;
                }

                h1.static {
                    font-size: 22px;
                    margin: 0 0 0 5px !important;
                    font-weight: 600;

                    + p {
                        font-size: 16px;
                        color: #888;
                        margin-top: 4px;
                    }
                }

                #about_quote {
                    font-size: 14px;
                    display: block;
                    color: $black;
                    line-height: 24px;
                    margin: 10px 0 0 5px;
                    z-index: 9999;
                    width: 105%;
                }

                a.thumbnail {
                    margin-bottom: 9px;
                    cursor: auto;

                    &:hover {
                        border: solid 1px #ccc;
                    }

                    @media (min-width: $break-small) and (max-width: $break-medium) {
                        background: transparent;
                        border: none;
                        float: left;
                    }

                    #main_img {
                        cursor: pointer;
                        margin-bottom: 0;
                        width: 230px;
                        height: 230px;
                    }
                }

                textarea#bio_text {
                    display: none;
                    margin-top: 8px;
                }

                ul#user_info {
                    list-style: none;
                    -webkit-padding-start: 0;
                    margin-top: 10px;
                    margin-bottom: 0;

                    li {
                        font-size: 14px;
                        line-height: 2.2;

                        .fa {
                            font-size: 24px;
                            vertical-align: middle;
                        }
                    }
                }

                .col-lg-9 {
                    margin-top: 200px;
                    padding: 10px 0 10px 0;
                    margin-left: 0;
                    z-index: 999;
                    border: none;
                    background: transparent;

                    @media screen and (max-width: $break-medium) {
                        margin-top: 0px;
                        width: 100%;
                    }

                    #con_wrapper {
                        padding: 0;
                        margin-top: 20px;
                        margin-left: 50px;

                        @media screen and (max-width: $break-medium) {
                            margin-top: 0;
                            margin-left: 0;
                        }

                        .panel-heading {
                            text-align: left;

                            ul {
                                list-style: none;
                                margin-bottom: 0;
                                -webkit-padding-start: 0;

                                li {
                                    display: inline-block;
                                    margin-left: 30px;
                                    font-size: 18px;
                                    cursor: pointer;
                                    text-transform: capitalize;

                                    @media screen and (max-width: $break-medium) {
                                        margin-left: 10px;
                                        font-size: 13px;

                                        @media (min-width: $break-small) and (max-width: $break-medium) {
                                            font-size: 18px;
                                        }
                                    }

                                    &:first-of-type {
                                        margin-left: 0;
                                    }

                                    &#active {
                                        color: $blue;
                                    }
                                }
                            }
                        }

                        #twitter_sign_in {
                            font-size: 22px;

                            .fa {
                                color: $blue;
                            }

                            + p {
                                font-size: 18px;
                                margin-top: 10px;
                                text-align: left;
                                margin: 0;
                            }
                        }

                        .input-group {
                            height: auto;
                            border: solid 1px #ccc;

                            .input-group-addon {
                                height: auto;
                                font-size: 14px;
                            }

                            .form-control {
                                border: none;
                                box-shadow: none;
                                font-size: 22px;
                                padding: 7px;
                                height: auto;

                                @media screen and (max-width: $break-medium) {
                                    font-size: 16px;
                                }
                            }
                        }

                        #connections_box {
                            position: relative;
                            top: 0;
                            background: $white;
                            box-shadow: none;

                            #con_load_box {
                                padding: 0;
                                margin: 10px 0 0 0;

                                .ajax-loader {
                                    padding: 20px 0;
                                }

                                .main_load {
                                    color: $black;
                                }

                                #media_container {

                                    .media {
                                        padding: 7px 10px;
                                        border: solid 1px $border-color;
                                        border-bottom: none;
                                        margin: 0;
                                        cursor: pointer;

                                        h4 {
                                            font-size: 20px;
                                            font-weight: 600;

                                            span.pull-right {
                                                font-size: 18px;

                                                .fa {

                                                }
                                            }
                                        }

                                        p {
                                            margin: 0;
                                            font-size: 16px;
                                        }

                                        img {
                                            width: 100px;
                                            margin: 0;
                                            border: solid 1px #ccc;
                                            padding: 5px;
                                            background: $white;
                                        }

                                        // Tweets
                                        &.tweet {
                                            h4 {
                                                font-size: 14px;
                                                color: #888;

                                                a {
                                                    color: $black;
                                                    font-weight: bold;
                                                }
                                            }

                                            a {
                                                img {
                                                    width: 24px;
                                                    padding: 0;
                                                    border: none;
                                                }
                                            }

                                            p {
                                                img {
                                                    width: 100%;

                                                    &.media_pic {
                                                        margin-top: 9px;
                                                    }
                                                }

                                                &.retweet {
                                                    margin-bottom: 6px;
                                                    font-size: 14px;
                                                    color: #777;

                                                    .fa {
                                                        font-size: 20px;

                                                        + span {
                                                            margin-left: 10px;
                                                        }
                                                    }
                                                }

                                                &.tweet_stats {
                                                    margin-top: 6px;

                                                    span {
                                                        color: #8899a6;

                                                        &:last-of-type {
                                                            margin-left: 15px;
                                                        }

                                                        .fa {
                                                            font-size: 20px;
                                                        } 
                                                    }
                                                }
                                            }
                                        }

                                        &:nth-of-type(odd) {
                                            background: #f7f7f7;
                                        }

                                        &:hover {
                                            border: solid 1px #08f !important;
                                        }

                                        &:last-of-type  {
                                            border-bottom: solid 1px $border-color;
                                        }
                                    }
                                }

                                button#see_more {
                                    width: 100%;
                                    margin-top: 10px;
                                }
                            }
                        }
                    }
                }
            }

            ul#sub_pics {
                list-style: none;
                -webkit-padding-start: 0;
                width: 300px;

                @media (min-width: $break-small) and (max-width: $break-medium) {
                    width: 800px;
                }

                li {
                    display: inline-block;
                    margin-left: 10px;
                    margin-top: 10px;

                    &:nth-of-type(odd) {
                        margin-left: 0;
                    }

                    img {
                        margin-bottom: 0;
                        width: 120px;
                        height: 120px;

                        @media screen and (max-width: $break-medium) {
                            width: 135px;
                            height: 135px;
                        }
                    }
                }

                + .clearfix + a {
                    margin-bottom: 10px;
                    display: block;
                }
            }
        }
    }

    @import 'timer_box';
}