.settings_box {
    padding: 10px;
    border: none;

    span {
        &.settings_field {
            font-size: 24px;
        }
    }

    #gender_button,
    #interested_in_button {
        margin-top: 0 !important;
        width: 100px;
        font-size: 14px;
        text-align: left;
    }

    .slider {
        width: auto !important;
    }
}

#settings_form {
    .settings_box {
        padding: 0;
        border: solid 1px #ddd;
        border-bottom: none;

        &:last-of-type {
            border-bottom: solid 1px #ddd;
        }

        p {
            background: #f0f0f0;
            font-size: 24px;
            font-weight: 600;
            padding: 4px 9px;
            border-bottom: solid 1px #ddd;
        }

        .compartment {
            padding: 20px 26px;

            h2 {
                margin-bottom: 0;
                margin-top: 10px;
                font-size: 20px;
            }
        }

        .selector {
            padding: 20px;
            font-size: 22px;
            cursor: pointer;
            transition: 0.3s;

            @media screen and (max-width: $break-small) {
                border-bottom: solid 1px #ddd;
            }

            @media screen and (min-width: $break-large) {
                border-right: solid 1px #ddd;
            }

            &:last-of-type {
                border: none;
            }

            &:hover,
            &.active {
                color: $white;
                background: $green;
            }
        }
    }

    p {
        margin-bottom: 0;
    }

    #username_div {
        padding: 10px;
        margin: 0;

        .input-group-addon {
            background: $white;
            border: solid 1px $border-color;
            border-left: none;
        }

        .form-control:focus,
        .form-control:active {
            outline: none;
            border: solid 1px $border-color;
            box-shadow: none;
        }
    }

    #google_maps {
        height: 300px;
        padding: 0;
    }
}

#maps_box {
    border-left: none !important;
}

#gender_box,
#interested_in_box {
    height: auto;
    padding: 0px 0;
    border-bottom: none !important;

    h2 {
        margin-bottom: 5px;
    }

    .btn-group {
        width: 100%;

        button {
            background: #eee !important;
            width: 100%;
        }
    }
}

#maps_bar {
    height: auto;
    background: #fff;
    border-top: solid 1px $border-color;
    border-bottom: solid 1px $border-color;
    padding: 0;

    #google_maps {
        height: auto;

        .ajax-loader {
            margin-top: 0;
        }
    }
}