span.tip {
	font-size: 22px;
	display: block;
}

span.sub_tip {
	font-size: 14px;
	display: block;
	margin-top: 5px;
	text-align: left;
	padding-left: 4px;
	opacity: 1;
}

.tooltip.in {
	opacity: 1;
}

.tooltip {
	z-index: 99999999;
	font-size: 18px;
}

.tooltip-inner {
	background: $black;
	color: $white;
	z-index: 1;
	padding: 7px 15px 10px 15px;
	line-height: 1;
	opacity: 1 !important;
	z-index: 99999999;
}

.tooltip.top .tooltip-arrow {
	margin-left: -6px;
	bottom: -1px;
	border-width: 6px 6px 0;
	border-top-color: $black;
	z-index: 99999999;
}