#users_load {
    .jumbotron {
        text-align: left;
        border: solid 1px #ccc;

        h1 {
            @media screen and (max-width: $break-small) {
                font-size: 18px;
                height: auto !important;
                margin-bottom: 10px !important;
            }

            img {
                vertical-align: middle !important;
                display: inline;

                @media screen and (max-width: $break-small) {
                    width: 84px;
                    height: 84px;
                }
            }
        }

        #profile_discover {
            p {
                @media screen and (max-width: $break-small) {
                    font-size: 14px;
                }
            }
        }
    }
}

#like_or_pass {
    padding: 20px;
    background: #eee;
    z-index: 999;
    margin-top: 0;
    border: solid 1px #ccc;
}

.rotate-left,
.rotate-right {
    opacity: 0;
    transition: 1s;
}

.rotate-left {
  transform: rotate(30deg) scale(0.8);
  margin-left: 400px;
  cursor: e-resize;
}

.rotate-right {
  transform: rotate(-30deg) scale(0.8);
  margin-left: -400px;
  cursor: w-resize;
}

.status {
    font-size: 42px;
    border-radius: 5px;
    padding: 5px 10px;
    text-transform: uppercase;
    position: absolute;
    text-shadow: none;
    top: 50px;
}

.like {
  border: 2px solid $green;
  color: $green;
  right: 40px;
}

.dislike {
  border: 2px solid #ffae1a;
  color: #ffae1a;
  left: 40px;
}