#discover_box {
  position: relative;

  #users_load {
      .jumbotron {
          text-align: left;
          border: solid 1px #ccc;

          @media screen and (max-width: $break-small) {
            padding: 12px;
            margin-bottom: 15px;

            button {
              font-size: 13px;
            }
          }

          h1 {
              @media screen and (max-width: $break-small) {
                  font-size: 18px;
                  height: auto !important;
                  margin-bottom: 10px !important;
              }

              img {
                  vertical-align: middle !important;
                  display: inline;
                  border: solid 1px #ddd;
                  padding: 5px;

                  @media screen and (max-width: $break-small) {
                      width: 84px;
                      height: 84px;
                  }
              }
          }

          #profile_discover {
              p {
                  @media screen and (max-width: $break-small) {
                      font-size: 13px;
                  }

                + p {
                  margin-bottom: 0;
                }
              }
          }
      }
  }
}

#decide_box {
  position: relative;

  #like_or_pass {
      position: relative;
      text-align: center;
      width: 100%;
      padding: 20px;
      background: #eee;
      z-index: 999;
      border: solid 1px #ccc;

      @media screen and (max-width: $break-small) {
        padding: 10px;
      }

      #like_user {
        float: left;
      }

      #pass_user {
        float: right;
      }

      @media screen and (max-width: $break-small) {
        #pass_user {
          float: left;
        }

        #like_user {
          float: right;
        }
      }
  }
}

h1#geo_error {
  @media screen and (max-width: $break-small) {
    font-size: 14px;
  }
}

.rotate-left,
.rotate-right {
    opacity: 0;
    transition: 1s;
}

.rotate-left {
  transform: rotate(30deg) scale(0.8);
  margin-left: 400px;
  cursor: e-resize;
}

.rotate-right {
  transform: rotate(-30deg) scale(0.8);
  margin-left: -400px;
  cursor: w-resize;
}

.status {
    font-size: 42px;
    border-radius: 5px;
    padding: 5px 10px;
    text-transform: uppercase;
    position: absolute;
    text-shadow: none;
    top: 50px;
}

.like {
  border: 2px solid $green;
  color: $green;
  right: 40px;
}

.dislike {
  border: 2px solid #ffae1a;
  color: #ffae1a;
  left: 40px;
}