/**
 * Variables
 */
$white: #fff;
$black: #000;
$lt_black: #333;
$grey: #999;
$lt_grey: #e6e6e6;
$blue: #0993c7;
$dk_blue: #328aab;
$green: #82b919;
$blue_green: #19b9b7;
$dk_green: #82a900;
$salmon: #ffa500;
$rasp: #c61931;

$border-color: #ddd;
$side-padding: 120px;
$small-padding: 25px;

// iPhone 5
$iphone_five_width: 320px;
$iphone_five_height: 568px;

// iPhone 6
$iphone_six_width: 375px;
$iphone_six_height: 667px;

// iPhone 6 plus
$iphone_six_plus_width: 414px;
$iphone_six_plus_height: 736px;

// iPhone 4 and below
$break-xsmall: 480px;

// iPhone 5 & tablet
$break-small: 768px;

// iPad 3/4 
$break-medium: 1024px;

// Desktop
$break-large: 1200px;