/**
 * Variables
 */
$white: #fff;
$black: #000;
$lt_black: #333;
$grey: #999;
$lt_grey: #e6e6e6;
$blue: #0993c7;
$dk_blue: #328aab;
$green: #82b919;
$blue_green: #19b9b7;
$dk_green: #82a900;
$salmon: #ffa500;

$border-color: #ddd;
$side-padding: 120px;
$small-padding: 25px;

$break-small: 768px;
$break-large: 992px;