// Font-Awesome, Fonts, SVG and colors
@import 'globals';

@import 'modals';
@import 'list_group';
@import 'navbar';
@import 'dropdown';
@import 'footer';
@import 'infowindow';

@import 'header_section';
@import 'hot_load';
@import 'slide_wrapper';
@import 'faq';
@import 'chat';
@import 'radar';
@import 'settings_box';
@import 'single_users_load';
@import 'autocomplete';
@import 'carousel';

body {
    font-family: 'Open Sans', sans-serif;
}

form {
    margin-bottom: 0;
}

.input-group {
    width: 100%;
    height: 30px;
    overflow: hidden;
}

.input-group-addon {
    border: none;
    background: #fff;
    color: $font-color;
}

.btn-group {
    float: right;
}

button:focus {
    outline: none !important;
    box-shadow: none;
}

.btn,
.input-group-addon,
input[type=text],
input[type=password],
textarea.form-control {
    border-radius: 0;
    box-shadow: none;
}

h1 {
    padding-top: 30px;
    color: $font-color;
    font-weight: 800;

    &.static {
        padding-top: 0;
        color: $font-color !important;
        height: auto !important;
        font-size: 28px;

        span#distance {
            font-size: 16px;
            display: block;
        }
    }
}

h5 {
    padding-bottom: 30px;
}

hr {
    border-color: #ccc;
    margin-bottom: 5px;

    + span {
        color: #999;
    }
}

a {
    outline: none;
    text-decoration: none;

    &:hover,
    &:focus {
        outline: none;
        text-decoration: none;
    }
}

span#time_format {
    font-style: italic;
    color: #05f;
}

span.stateface {
    font-family: 'StateFaceRegular' !important;
}

span#count_num {
    color: #3b5998;
}

span#user_details,
span#user_gender {
    font-size: 36px;
    display: block;
}

span#user_gender {
    font-size: 24px;
    color: #555;
}

span#user_gender,
span#user_gender_edit {
    position: relative;
    display: inline-block;
}

span#age {
    top: 80px;
}

.ajax-loader {
    width: 100%;
    text-align: center;
    padding: 10px;
    margin-top: 14px;
    padding: 70px 0;
}

.hidden {
    display: none;
}

.noUi-background {
    background: $white;
}

.noUi-connect {
    background: #aadd55 !important;
}

#connections_box {
    position: relative;
    top: -100px;
    background: $white;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
    border: none;

    #con_load_box {
        transition: 0.6s;
        position: relative;
        border: solid 1px $border-color;
        padding: 10px;

        .ajax-loader {
            padding: 20px 0;
        }

        .main_load {
            color: $font-color;
        }
    }
}

#about_box,
#bottom_box,
#connections_box {
    border-left: none;
    border-right: none;
    background: #3a5795;
    color: $white;
    font-size: 32px;
}

#about_box,
#below_box,
#like_or_pass {
    background: #fff;
    padding: 20px 30px 0 30px;
    z-index: 999;
    margin-top: -90px;
    border: solid 1px $border-color;
}

#like_or_pass {
    margin-top: 0;
    padding: 20px;
}

#below_box {
    z-index: 10;
    padding: 0;
    margin-top: 0; 
    top: -90px;

    .col-lg-4 {
        padding: 0;
    }

    p.category {
        margin-bottom: 0;
    }
}

.none, 
.main_none {
    padding: 8px;
    text-align: center;
    background: $white;
    font-size: 24px;
    padding: 30px 10px;
    color: $font-color;
}

.main_none {
    padding: 40px 10px;
}
