/**
 * Variables
 */
/**
 * Fonts
 */
@import url(http://weloveiconfonts.com/api/?family=typicons);
@font-face {
  font-family: Tinder;
  src: url("fonts/angry_birds.ttf"); }
@font-face {
  font-family: 'StateFaceRegular';
  src: url("fonts/stateface/webfont/stateface-regular-webfont.eot");
  src: url("fonts/stateface/webfont/stateface-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/stateface/webfont/stateface-regular-webfont.woff") format("woff"), url("fonts/stateface/webfont/stateface-regular-webfont.ttf") format("truetype"), url("fonts/stateface/webfont/stateface-regular-webfont.svg#StateFaceRegular") format("svg"); }
span.stateface {
  font-family: 'StateFaceRegular' !important; }

/**
 * SVG
 */
.svg {
  width: 50px;
  height: 50px;
  vertical-align: middle; }
  .svg path {
    fill: #ffa07a;
    transition: 0.8s; }

#like_user,
#pass_user {
  cursor: pointer;
  transition: 0.2s; }

#like_user path {
  fill: #ad5; }

#like_user:hover path {
  fill: #bc5; }

#pass_user path {
  fill: #ffae1a; }

#pass_user:hover path {
  fill: #ffc04d; }

.not_found {
  width: 200px;
  height: 200px; }
  .not_found path {
    fill: orange; }

#error {
  width: 200px;
  height: 200px; }
  #error path {
    fill: #c61931; }

#twitter_svg {
  width: 180px;
  height: 180px; }
  #twitter_svg path {
    fill: #0993c7; }
  #twitter_svg + button {
    margin-top: 12px; }
  #twitter_svg + p {
    font-size: 24px;
    margin-top: 20px; }

/**
 * Font-Awesome
 */
#heart_icon,
#match_icon {
  margin-left: 12px;
  margin-right: 7px; }

.fa-facebook-square {
  color: #3b5998; }

.fa-twitter {
  color: #0993c7; }

.fa-refresh {
  color: #82b919; }

.fa-star {
  color: #e6c200; }

.fa-retweet {
  color: #82b919; }

.fa-heart {
  color: #ffa07a; }

.fa-thumbs-up {
  color: #08f; }

.fa-globe {
  color: #82b919; }

.fa-thumbs-down {
  color: #b4ff69; }

.fa-map-marker,
.fa-rocket,
.fa-ban {
  color: #c61931; }

.fa-heartbeat {
  color: #82b919; }

/**
 * Modal
 */
.modal {
  z-index: 999999; }
  .modal .modal-content {
    margin-top: 60px; }
    .modal .modal-content .modal-header {
      padding: 4px 9px; }
      .modal .modal-content .modal-header h3 {
        font-size: 28px;
        margin: 0;
        padding: 0; }
        @media screen and (max-width: 768px) {
          .modal .modal-content .modal-header h3 {
            font-size: 20px; } }
        .modal .modal-content .modal-header h3 .close {
          font-size: inherit;
          margin-top: 5px; }
      .modal .modal-content .modal-header i {
        color: #000; }
        @media screen and (max-width: 768px) {
          .modal .modal-content .modal-header i {
            font-size: 20px; } }
    .modal .modal-content h4 {
      font-size: 32px;
      text-align: center; }
      @media screen and (max-width: 768px) {
        .modal .modal-content h4 {
          font-size: 22px; } }
    .modal .modal-content .modal-body {
      background: #fff;
      padding: 10px; }
      .modal .modal-content .modal-body a {
        font-size: 24px; }
      .modal .modal-content .modal-body #other_box {
        margin: 0;
        padding: 0 10px 10px 10px;
        display: none; }
    .modal .modal-content .modal-footer {
      text-align: right; }
    .modal .modal-content .ajax-loader {
      margin-top: 0;
      padding: 50px 0; }

#contact_modal p {
  line-height: 25px; }

#match_modal .modal-body {
  padding: 15px 0 8px 0; }

#gallery_modal .modal-backdrop {
  opacity: 0.7; }
#gallery_modal .modal-dialog {
  width: 350px; }
  #gallery_modal .modal-dialog .modal-header {
    text-align: center; }
  #gallery_modal .modal-dialog #gallery_img {
    width: 320px;
    margin-bottom: 0;
    display: inline; }

/**
 * List group
 */
ul.list-group li {
  border: none;
  border-bottom: solid 1px #ddd;
  border-radius: 0 !important;
  cursor: pointer; }
  ul.list-group li:nth-child(even) {
    background: #f7f7f7; }
  ul.list-group li:last-of-type {
    border-bottom: none; }
  ul.list-group li:hover {
    background: #0993c7;
    color: #fff;
    transition: 0.4s; }
    ul.list-group li:hover a,
    ul.list-group li:hover span {
      color: #fff;
      transition: 0.4s; }
  ul.list-group li img {
    border: none;
    vertical-align: middle; }
  ul.list-group li span {
    font-size: 24px;
    display: inline-block;
    vertical-align: middle; }
  ul.list-group li div {
    margin-left: 15px;
    display: inline-block;
    vertical-align: top; }

/**
 * Navbar
 */
.navbar {
  position: fixed;
  background: #0993c7;
  margin: 0 auto;
  z-index: 99999;
  border: none; }
  @media screen and (max-width: 768px) {
    .navbar {
      padding: 0 20px; }
      .navbar .container {
        opacity: 0.8; } }
  @media screen and (min-width: 992px) {
    .navbar {
      padding: 0 120px; } }
  .navbar .navbar-toggle {
    border: none;
    background: #0993c7;
    color: #fff; }
    .navbar .navbar-toggle:hover {
      color: #ccc; }
  .navbar .container {
    width: 100%; }
  .navbar .navbar-brand {
    z-index: 99999;
    color: #fff;
    text-shadow: none;
    font-family: Tinder;
    font-size: 32px;
    letter-spacing: 3px;
    padding: 0 8px;
    cursor: pointer; }
    .navbar .navbar-brand span#we {
      margin-left: -8px; }
    .navbar .navbar-brand:hover {
      transition: 0.8s;
      color: #ddd; }
      .navbar .navbar-brand:hover .svg path {
        fill: #fff; }
  @media screen and (max-width: 768px) {
    .navbar .navbar-collapse {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      margin-left: 0;
      margin-right: 0; } }
  @media screen and (max-width: 768px) {
    .navbar .navbar-collapse ul.navbar-nav {
      float: none !important;
      -webkit-padding-start: 0 !important;
      margin: 0; } }
  .navbar .navbar-collapse ul.navbar-nav > li {
    padding: 8px; }
    .navbar .navbar-collapse ul.navbar-nav > li button {
      background: #82b919; }
    .navbar .navbar-collapse ul.navbar-nav > li:first-of-type {
      padding-right: 0; }
    .navbar .navbar-collapse ul.navbar-nav > li a {
      background: inherit;
      color: #fff;
      font-size: 16px;
      outline: none; }
      @media screen and (max-width: 768px) {
        .navbar .navbar-collapse ul.navbar-nav > li a {
          font-size: 13px; } }
    .navbar .navbar-collapse ul.navbar-nav > li.active > a:hover {
      background: #0993c7; }
    .navbar .navbar-collapse ul.navbar-nav > li.active > a:focus {
      background: #0993c7; }
    .navbar .navbar-collapse ul.navbar-nav > li.dropdown {
      padding: 0;
      background: #0993c7; }
      @media screen and (min-width: 992px) {
        .navbar .navbar-collapse ul.navbar-nav > li.dropdown {
          padding: 0 20px; } }
      .navbar .navbar-collapse ul.navbar-nav > li.dropdown:hover {
        background: #328aab; }
        .navbar .navbar-collapse ul.navbar-nav > li.dropdown:hover.open {
          background: #328aab; }
      .navbar .navbar-collapse ul.navbar-nav > li.dropdown.open {
        background: #328aab; }
      .navbar .navbar-collapse ul.navbar-nav > li.dropdown a.dropdown-toggle {
        padding: 8px 10px;
        height: 100%; }
        .navbar .navbar-collapse ul.navbar-nav > li.dropdown a.dropdown-toggle img {
          width: 35px;
          height: 35px;
          display: inline;
          margin-bottom: 0;
          vertical-align: middle; }
        @media screen and (max-width: 768px) {
          .navbar .navbar-collapse ul.navbar-nav > li.dropdown a.dropdown-toggle #like_count {
            float: right; } }
        .navbar .navbar-collapse ul.navbar-nav > li.dropdown a.dropdown-toggle span#header_name {
          margin-left: 7px; }
  .navbar .navbar-collapse > .container {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 9999; }

.navbar-inverse .navbar-nav > .open > a {
  background-color: orange; }

form {
  margin-bottom: 0; }

input[type=text],
input[type=password],
textarea.form-control {
  border-radius: 0;
  box-shadow: none; }

.input-group {
  width: 100%;
  height: 30px;
  overflow: hidden; }

.input-group-addon {
  box-shadow: none;
  border: none;
  background: #fff;
  color: #000; }

.btn-group {
  float: right; }

.btn {
  padding: 8px 13px;
  border: none; }

.btn-success {
  background: #82b919; }
  .btn-success:hover, .btn-success:focus {
    background: #82a900; }

.btn-primary {
  background: #0993c7; }
  .btn-primary:hover {
    background: #328aab; }

.btn-default {
  border: solid 1px #ccc; }

button:focus {
  outline: none !important;
  box-shadow: none; }

/**
 * Dropdown menu
 */
.dropdown-menu {
  width: 100%;
  margin-top: 0 !important;
  z-index: 9999999 !important; }
  .dropdown-menu .divider {
    margin: 3px 0;
    background: #ddd; }
    .dropdown-menu .divider:hover {
      background: #ddd; }
  .dropdown-menu li {
    z-index: 9999999 !important;
    padding: 0; }
    .dropdown-menu li:hover {
      background: #ddd !important; }
      .dropdown-menu li:hover a {
        background: #ddd !important; }
    .dropdown-menu li i {
      float: right;
      display: inline;
      margin-top: 3px; }
    .dropdown-menu li a {
      float: left;
      width: 100%;
      padding: 3px 10px;
      color: #000 !important;
      background: #fff !important; }
      .dropdown-menu li a:hover {
        background: #ddd; }
      .dropdown-menu li a i {
        margin-right: 5px; }
      .dropdown-menu li a span {
        margin-right: 10px; }

/**
 * Footer
 */
#footer {
  z-index: 99999999; }
  #footer #list_name {
    background-color: #82b919; }
    @media screen and (max-width: 768px) {
      #footer #list_name {
        padding: 20px 0; } }
    @media screen and (min-width: 992px) {
      #footer #list_name {
        padding: 0 120px; } }
    #footer #list_name .col-lg-3 {
      font-size: 24px;
      font-weight: 600;
      padding: 8px 0;
      text-align: left;
      color: #fff;
      float: left;
      width: 25%; }
      @media screen and (max-width: 768px) {
        #footer #list_name .col-lg-3 {
          display: none; } }
      #footer #list_name .col-lg-3 .fa {
        color: #fff !important; }
    #footer #list_name #slogan {
      display: none; }
      @media screen and (max-width: 768px) {
        #footer #list_name #slogan {
          display: block;
          font-size: 22px;
          color: #fff; } }
  #footer #sub_footer {
    background-color: #fff;
    text-align: left; }
    @media screen and (min-width: 992px) {
      #footer #sub_footer {
        padding: 0 120px; } }
    @media screen and (max-width: 768px) {
      #footer #sub_footer {
        text-align: center; } }
    #footer #sub_footer .col-lg-3 {
      float: left;
      width: 25%;
      margin: 0;
      padding: 0; }
      #footer #sub_footer .col-lg-3 ul {
        -webkit-padding-start: 0;
        list-style: none;
        width: 100%;
        margin: 8px 0; }
        #footer #sub_footer .col-lg-3 ul li {
          text-align: left;
          padding: 6px 0; }
          @media screen and (max-width: 768px) {
            #footer #sub_footer .col-lg-3 ul li {
              text-align: center; } }
          #footer #sub_footer .col-lg-3 ul li#users_foot, #footer #sub_footer .col-lg-3 ul li#places_foot {
            display: none;
            font-size: 20px;
            color: #666; }
            @media screen and (max-width: 768px) {
              #footer #sub_footer .col-lg-3 ul li#users_foot, #footer #sub_footer .col-lg-3 ul li#places_foot {
                display: inline; } }
          #footer #sub_footer .col-lg-3 ul li .twitter-follow-button {
            margin-left: 0px; }
          #footer #sub_footer .col-lg-3 ul li a {
            font-size: 15px;
            color: #444; }
            #footer #sub_footer .col-lg-3 ul li a:hover {
              text-decoration: underline; }
  #footer #copyright {
    background-color: #000;
    padding: 20px; }
    #footer #copyright p {
      color: #fff;
      margin: 0; }

/**
 * Infowindow
 */
#infobox {
  display: none;
  margin-top: 80px; }

#infowindow {
  min-width: 250px;
  padding: 10px; }
  #infowindow h4 {
    font-size: 24px; }
  #infowindow img {
    width: 100px;
    height: 100px;
    border: solid 1px #ccc;
    padding: 5px; }
  #infowindow p {
    font-size: 18px; }

span.tip {
  font-size: 22px;
  display: block; }

span.sub_tip {
  font-size: 14px;
  display: block;
  margin-top: 5px;
  text-align: left;
  padding-left: 4px;
  opacity: 1; }

.tooltip.in {
  opacity: 1; }

.tooltip-inner {
  background: #000;
  color: #fff;
  z-index: 1;
  padding: 7px 15px 10px 15px;
  line-height: 1;
  opacity: 1 !important; }

.tooltip.top .tooltip-arrow {
  margin-left: -6px;
  bottom: -1px;
  border-width: 6px 6px 0;
  border-top-color: #000;
  z-index: 9999; }

#header-section {
  min-height: 250px; }
  @media screen and (max-width: 768px) {
    #header-section {
      padding: 0 20px; } }
  @media screen and (min-width: 992px) {
    #header-section {
      padding: 0 120px; } }
  #header-section .container {
    width: 100%;
    padding-left: 0 !important;
    padding-right: 0;
    padding-bottom: none; }
  #header-section .page-header {
    margin: 0;
    border-bottom: solid 1px #ccc;
    margin-bottom: 12px;
    padding: 2px 10px 10px 10px;
    width: 100%; }
    @media screen and (max-width: 768px) {
      #header-section .page-header {
        font-size: 22px; } }
    #header-section .page-header .img-circle {
      width: 50px; }
  #header-section #profile_top {
    min-height: 340px;
    padding: 110px 0 20px 0;
    background: #fff;
    height: auto;
    overflow: hidden; }
    #header-section #profile_top h1 {
      padding-top: 0;
      margin-top: 0;
      margin-bottom: 0;
      height: 200px; }
      #header-section #profile_top h1 img {
        vertical-align: text-top; }
      #header-section #profile_top h1 span {
        color: #000;
        font-size: 16px;
        position: relative;
        top: 12px;
        color: #07f;
        cursor: pointer; }
        #header-section #profile_top h1 span:hover {
          color: #05f; }
    #header-section #profile_top a#report_user {
      margin-top: 8px;
      display: block; }
  #header-section #signin {
    padding: 95px 0 0 0;
    height: auto;
    min-height: 630px;
    background: #fff; }
    #header-section #signin #settings_submit {
      padding: 20px 0;
      border-top: solid 1px #ccc; }

/**
 * Hot load
 */
#hot_load {
  margin: 10px 0 0 0; }
  #hot_load .main_none {
    border: solid 1px #ddd;
    padding: 15px;
    margin: 10px 0; }
  #hot_load .sub_load {
    padding: 10px 0 7px 0; }
  #hot_load .container-fluid {
    padding: 0; }
    #hot_load .container-fluid .row {
      margin: 0;
      margin-top: 5px;
      width: 100%; }
      #hot_load .container-fluid .row .col-lg-2 {
        padding: 5px;
        text-align: center;
        cursor: pointer;
        margin-bottom: 0; }
        #hot_load .container-fluid .row .col-lg-2 img {
          margin-bottom: 0;
          height: 100%;
          width: 100%;
          display: block; }
          @media screen and (max-width: 768px) {
            #hot_load .container-fluid .row .col-lg-2 img {
              width: 84px !important;
              height: 84px !important; } }
    #hot_load .container-fluid:first-of-type .row {
      margin-top: 0; }
  #hot_load button#see_more {
    width: 100%;
    margin-top: 10px; }

.slide_wrapper {
  background: #fff;
  min-height: 40px;
  border: solid 1px #ddd;
  border-radius: 3px; }
  .slide_wrapper .settings_box {
    padding: 15px 30px 25px 30px;
    border: none; }
    .slide_wrapper .settings_box h2 {
      margin-top: 12px;
      font-size: 24px; }
      .slide_wrapper .settings_box h2 span {
        margin: 0; }
    .slide_wrapper .settings_box:nth-of-type(2) {
      border-left: solid 1px #ddd; }
  .slide_wrapper #age_box {
    min-height: 40px; }
  .slide_wrapper .gender_filter {
    border-top: solid 1px #ddd;
    padding: 18px;
    font-size: 24px;
    cursor: pointer; }
    .slide_wrapper .gender_filter:hover {
      background: #eee; }
    .slide_wrapper .gender_filter:nth-of-type(1) {
      border-right: solid 1px #ddd !important; }
  .slide_wrapper .active {
    background: #f0f0f0; }
  .slide_wrapper #location_select_box {
    padding: 15px 0 !important;
    width: 100%; }
    .slide_wrapper #location_select_box .col-lg-6 {
      width: 50%; }
      .slide_wrapper #location_select_box .col-lg-6 .form-group {
        margin-bottom: 0;
        width: 100%; }
        .slide_wrapper #location_select_box .col-lg-6 .form-group .input-group-addon {
          padding: 6px;
          border: solid 1px #ccc;
          background: #f0f0f0;
          border-right: none;
          width: 50px; }
          @media screen and (max-width: 768px) {
            .slide_wrapper #location_select_box .col-lg-6 .form-group .input-group-addon {
              width: 40px; } }
          .slide_wrapper #location_select_box .col-lg-6 .form-group .input-group-addon span {
            font-size: 20px; }
        .slide_wrapper #location_select_box .col-lg-6 .form-group .form-control {
          outline: none;
          box-shadow: none; }
          @media screen and (max-width: 768px) {
            .slide_wrapper #location_select_box .col-lg-6 .form-group .form-control {
              font-size: 12px; } }
        .slide_wrapper #location_select_box .col-lg-6 .form-group #city_addon {
          padding: 6px 21px; }
  .slide_wrapper #gender_box,
  .slide_wrapper #interested_in_box {
    height: auto;
    padding: 0px 0;
    border-bottom: none !important; }
    .slide_wrapper #gender_box h2,
    .slide_wrapper #interested_in_box h2 {
      margin-bottom: 5px; }
    .slide_wrapper #gender_box .btn-group,
    .slide_wrapper #interested_in_box .btn-group {
      width: 100%; }
      .slide_wrapper #gender_box .btn-group button,
      .slide_wrapper #interested_in_box .btn-group button {
        background: #eee !important;
        width: 100%; }
  .slide_wrapper #maps_box {
    padding: 0;
    background: #f0f0f0;
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc; }
  .slide_wrapper #state_autocomplete,
  .slide_wrapper #city_autocomplete {
    border: none; }
    .slide_wrapper #state_autocomplete ul.list-group,
    .slide_wrapper #city_autocomplete ul.list-group {
      margin-bottom: 0;
      border-top: none; }
      .slide_wrapper #state_autocomplete ul.list-group li,
      .slide_wrapper #city_autocomplete ul.list-group li {
        border: solid 1px #ddd;
        border-top: none; }
        .slide_wrapper #state_autocomplete ul.list-group li:last-of-type,
        .slide_wrapper #city_autocomplete ul.list-group li:last-of-type {
          border-bottom: solid 1px #ddd; }

/**
 * FAQ
 */
#faq,
#about,
#terms {
  padding: 0 5px;
  border-bottom: solid 1px #ccc;
  margin-bottom: 20px; }
  #faq h2,
  #about h2,
  #terms h2 {
    font-size: 26px;
    margin-top: 7px; }
    @media screen and (max-width: 768px) {
      #faq h2,
      #about h2,
      #terms h2 {
        font-size: 20px; } }
  #faq p,
  #about p,
  #terms p {
    font-size: 14px;
    color: #444;
    margin-bottom: 12px;
    line-height: 25px; }

/**
 * Messages for Threads page
 */
[class*="typicons-"]:before {
  font-family: 'Typicons', sans-serif; }

.discussion {
  list-style: none;
  background: #fff;
  border: none;
  margin: 0;
  padding: 0 0 50px 0; }
  .discussion li {
    padding: 0.5rem;
    overflow: hidden;
    display: flex; }
  .discussion .avatar {
    width: 84px;
    position: relative; }
    .discussion .avatar img {
      display: block;
      width: 100%; }

.other .avatar {
  cursor: pointer; }
  .other .avatar:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-left-color: transparent;
    border-bottom-color: transparent; }

.self {
  justify-content: flex-end;
  align-items: flex-end; }
  .self .messages {
    order: 1;
    border-bottom-right-radius: 0; }
  .self .avatar {
    cursor: pointer;
    order: 2; }
    .self .avatar:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 0;
      border: 5px solid white;
      border-right-color: transparent;
      border-top-color: transparent;
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); }

.messages {
  background: white;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }
  .messages p {
    font-size: 24px;
    margin: 0 0 0.2rem 0; }
  .messages time {
    font-size: 16px;
    color: #ccc; }

@keyframes pulse {
  from {
    opacity: 0; }
  to {
    opacity: 0.5; } }
/**
 * Radar
 */
#users_load #user_circle {
  min-height: 300px;
  padding: 70px 0; }
  #users_load #user_circle img#radar {
    position: relative;
    line-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    z-index: 2;
    overflow: hidden; }

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  border: 4px solid #ffae1a;
  -webkit-border-radius: 300px;
  -moz-border-radius: 300px;
  border-radius: 300px;
  background: #ffae1a;
  opacity: 1; }

.settings_box {
  padding: 10px;
  border: none; }
  .settings_box span.settings_field {
    font-size: 24px; }
  .settings_box #gender_button,
  .settings_box #interested_in_button {
    margin-top: 0 !important;
    width: 100px;
    font-size: 14px;
    text-align: left; }
  .settings_box .slider {
    width: auto !important; }

#settings_form .settings_box {
  padding: 0;
  border: solid 1px #ddd;
  border-bottom: none; }
  #settings_form .settings_box:last-of-type {
    border-bottom: solid 1px #ddd; }
  #settings_form .settings_box p {
    background: #f0f0f0;
    font-size: 24px;
    font-weight: 600;
    padding: 4px 9px;
    border-bottom: solid 1px #ddd; }
  #settings_form .settings_box .compartment {
    padding: 20px 26px; }
    #settings_form .settings_box .compartment h2 {
      margin-bottom: 0;
      margin-top: 10px; }
  #settings_form .settings_box .selector {
    padding: 20px;
    font-size: 22px;
    border-right: solid 1px #ddd;
    cursor: pointer;
    transition: 0.3s; }
    #settings_form .settings_box .selector:last-of-type {
      border: none; }
    #settings_form .settings_box .selector:hover, #settings_form .settings_box .selector.active {
      color: #fff;
      background: #82b919; }
#settings_form p {
  margin-bottom: 0; }
#settings_form #username_div {
  padding: 10px;
  margin: 0; }
  #settings_form #username_div .input-group-addon {
    background: #fff;
    border: solid 1px #ddd;
    border-left: none; }
  #settings_form #username_div .form-control:focus,
  #settings_form #username_div .form-control:active {
    outline: none;
    border: solid 1px #ddd;
    box-shadow: none; }
#settings_form #google_maps {
  height: 300px;
  padding: 0; }

#maps_box {
  border-left: none !important; }

#gender_box,
#interested_in_box {
  height: auto;
  padding: 0px 0;
  border-bottom: none !important; }
  #gender_box h2,
  #interested_in_box h2 {
    margin-bottom: 5px; }
  #gender_box .btn-group,
  #interested_in_box .btn-group {
    width: 100%; }
    #gender_box .btn-group button,
    #interested_in_box .btn-group button {
      background: #eee !important;
      width: 100%; }

#maps_bar {
  height: auto;
  background: #fff;
  border-top: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
  padding: 0; }
  #maps_bar #google_maps {
    height: auto; }
    #maps_bar #google_maps .ajax-loader {
      margin-top: 0; }

#profile-section {
  min-height: 250px;
  padding: 0; }
  #profile-section .container {
    width: 100%;
    padding: 0; }
    #profile-section .container #focus_box {
      padding: 0;
      background: #fff;
      border-bottom: none;
      text-align: left;
      margin-top: 85px; }
      #profile-section .container #focus_box #ping_wrapper {
        background: #fff; }
        #profile-section .container #focus_box #ping_wrapper #ping_map {
          width: 100%;
          height: 300px;
          border: none;
          background: #fff; }
          #profile-section .container #focus_box #ping_wrapper #ping_map .ajax-loader {
            margin-top: 0; }
      #profile-section .container #focus_box #stripe {
        position: absolute;
        width: 100%;
        top: 385px;
        background: #fff;
        border-bottom: solid 1px #ddd; }
        @media screen and (max-width: 768px) {
          #profile-section .container #focus_box #stripe {
            padding: 0 20px;
            display: none; } }
        @media screen and (min-width: 992px) {
          #profile-section .container #focus_box #stripe {
            padding: 0 120px; } }
        #profile-section .container #focus_box #stripe .col-lg-8 {
          padding: 0; }
          #profile-section .container #focus_box #stripe .col-lg-8 .row {
            padding-left: 0;
            margin-left: -35px; }
        #profile-section .container #focus_box #stripe button {
          margin-top: 16px;
          position: absolute;
          right: 0;
          bottom: 14px; }
          #profile-section .container #focus_box #stripe button .fa {
            color: #fff; }
          #profile-section .container #focus_box #stripe button.btn-default .fa {
            color: #0993c7; }
          #profile-section .container #focus_box #stripe button.btn-success {
            cursor: auto; }
      #profile-section .container #focus_box #profile_page_info {
        margin-top: -150px;
        min-height: 300px !important;
        background: #f0f0f0; }
        @media screen and (max-width: 768px) {
          #profile-section .container #focus_box #profile_page_info {
            padding: 0 20px; } }
        @media screen and (min-width: 992px) {
          #profile-section .container #focus_box #profile_page_info {
            padding: 0 120px; } }
        #profile-section .container #focus_box #profile_page_info h1.static {
          font-size: 22px;
          margin: 0 0 0 5px !important;
          font-weight: 600; }
          #profile-section .container #focus_box #profile_page_info h1.static + p {
            font-size: 16px;
            color: #888;
            margin-top: 4px; }
        #profile-section .container #focus_box #profile_page_info #about_quote {
          font-size: 14px;
          display: block;
          color: #000;
          line-height: 24px;
          margin: 10px 0 0 5px;
          z-index: 9999;
          width: 105%; }
        #profile-section .container #focus_box #profile_page_info .thumbnail {
          margin-bottom: 9px; }
          #profile-section .container #focus_box #profile_page_info .thumbnail #main_img {
            cursor: pointer;
            margin-bottom: 0;
            width: 230px;
            height: 230px; }
        #profile-section .container #focus_box #profile_page_info textarea#bio_text {
          display: none;
          margin-top: 8px; }
        #profile-section .container #focus_box #profile_page_info ul#user_info {
          list-style: none;
          -webkit-padding-start: 0;
          margin-top: 10px;
          margin-bottom: 0; }
          #profile-section .container #focus_box #profile_page_info ul#user_info li {
            font-size: 14px;
            line-height: 2.2; }
            #profile-section .container #focus_box #profile_page_info ul#user_info li .fa {
              font-size: 24px;
              vertical-align: middle; }
        #profile-section .container #focus_box #profile_page_info .col-lg-9 {
          margin-top: 200px;
          padding: 10px 0 10px 50px;
          z-index: 999;
          border: none;
          background: transparent; }
          @media screen and (max-width: 768px) {
            #profile-section .container #focus_box #profile_page_info .col-lg-9 {
              margin-top: 0px;
              width: 100%;
              padding: 10px;
              border: solid 1px #ddd;
              background: #fff; } }
          #profile-section .container #focus_box #profile_page_info .col-lg-9 #con_wrapper {
            padding: 0;
            margin-top: 20px; }
            @media screen and (max-width: 768px) {
              #profile-section .container #focus_box #profile_page_info .col-lg-9 #con_wrapper {
                margin-top: 0; } }
            #profile-section .container #focus_box #profile_page_info .col-lg-9 #con_wrapper .panel-heading {
              text-align: left; }
              #profile-section .container #focus_box #profile_page_info .col-lg-9 #con_wrapper .panel-heading ul {
                list-style: none;
                margin-bottom: 0;
                -webkit-padding-start: 0; }
                #profile-section .container #focus_box #profile_page_info .col-lg-9 #con_wrapper .panel-heading ul li {
                  display: inline-block;
                  margin-left: 30px;
                  font-size: 18px;
                  cursor: pointer;
                  text-transform: capitalize; }
                  @media screen and (max-width: 768px) {
                    #profile-section .container #focus_box #profile_page_info .col-lg-9 #con_wrapper .panel-heading ul li {
                      margin-left: 10px; } }
                  #profile-section .container #focus_box #profile_page_info .col-lg-9 #con_wrapper .panel-heading ul li:first-of-type {
                    margin-left: 0; }
                  #profile-section .container #focus_box #profile_page_info .col-lg-9 #con_wrapper .panel-heading ul li#active {
                    color: #0993c7; }
            #profile-section .container #focus_box #profile_page_info .col-lg-9 #con_wrapper #twitter_sign_in {
              font-size: 22px; }
              #profile-section .container #focus_box #profile_page_info .col-lg-9 #con_wrapper #twitter_sign_in .fa {
                color: #0993c7; }
              #profile-section .container #focus_box #profile_page_info .col-lg-9 #con_wrapper #twitter_sign_in + p {
                font-size: 18px;
                margin-top: 10px;
                text-align: left;
                margin: 0; }
            #profile-section .container #focus_box #profile_page_info .col-lg-9 #con_wrapper .input-group {
              height: auto;
              border: solid 1px #ccc; }
              #profile-section .container #focus_box #profile_page_info .col-lg-9 #con_wrapper .input-group .input-group-addon {
                height: auto;
                font-size: 14px; }
              #profile-section .container #focus_box #profile_page_info .col-lg-9 #con_wrapper .input-group .form-control {
                border: none;
                box-shadow: none;
                font-size: 22px;
                padding: 7px;
                height: auto; }
            #profile-section .container #focus_box #profile_page_info .col-lg-9 #con_wrapper #connections_box {
              position: relative;
              top: 0;
              background: #fff;
              box-shadow: none; }
              #profile-section .container #focus_box #profile_page_info .col-lg-9 #con_wrapper #connections_box #con_load_box {
                padding: 0;
                margin: 10px 0 0 0; }
                #profile-section .container #focus_box #profile_page_info .col-lg-9 #con_wrapper #connections_box #con_load_box .ajax-loader {
                  padding: 20px 0; }
                #profile-section .container #focus_box #profile_page_info .col-lg-9 #con_wrapper #connections_box #con_load_box .main_load {
                  color: #000; }
                #profile-section .container #focus_box #profile_page_info .col-lg-9 #con_wrapper #connections_box #con_load_box #media_container .media {
                  padding: 7px 10px;
                  border: solid 1px #ddd;
                  border-bottom: none;
                  margin: 0;
                  cursor: pointer; }
                  #profile-section .container #focus_box #profile_page_info .col-lg-9 #con_wrapper #connections_box #con_load_box #media_container .media h4 {
                    font-size: 20px;
                    font-weight: 600; }
                    #profile-section .container #focus_box #profile_page_info .col-lg-9 #con_wrapper #connections_box #con_load_box #media_container .media h4 span.pull-right {
                      font-size: 18px; }
                  #profile-section .container #focus_box #profile_page_info .col-lg-9 #con_wrapper #connections_box #con_load_box #media_container .media p {
                    margin: 0;
                    font-size: 16px; }
                  #profile-section .container #focus_box #profile_page_info .col-lg-9 #con_wrapper #connections_box #con_load_box #media_container .media img {
                    width: 100px;
                    margin: 0;
                    border: solid 1px #ccc;
                    padding: 5px; }
                  #profile-section .container #focus_box #profile_page_info .col-lg-9 #con_wrapper #connections_box #con_load_box #media_container .media.tweet h4 {
                    font-size: 14px;
                    color: #888; }
                    #profile-section .container #focus_box #profile_page_info .col-lg-9 #con_wrapper #connections_box #con_load_box #media_container .media.tweet h4 a {
                      color: #000;
                      font-weight: bold; }
                  #profile-section .container #focus_box #profile_page_info .col-lg-9 #con_wrapper #connections_box #con_load_box #media_container .media.tweet a img {
                    width: 24px;
                    padding: 0;
                    border: none; }
                  #profile-section .container #focus_box #profile_page_info .col-lg-9 #con_wrapper #connections_box #con_load_box #media_container .media.tweet p img {
                    width: 100%; }
                    #profile-section .container #focus_box #profile_page_info .col-lg-9 #con_wrapper #connections_box #con_load_box #media_container .media.tweet p img.media_pic {
                      margin-top: 9px; }
                  #profile-section .container #focus_box #profile_page_info .col-lg-9 #con_wrapper #connections_box #con_load_box #media_container .media.tweet p.retweet {
                    margin-bottom: 6px;
                    font-size: 14px;
                    color: #777; }
                    #profile-section .container #focus_box #profile_page_info .col-lg-9 #con_wrapper #connections_box #con_load_box #media_container .media.tweet p.retweet .fa {
                      font-size: 20px; }
                      #profile-section .container #focus_box #profile_page_info .col-lg-9 #con_wrapper #connections_box #con_load_box #media_container .media.tweet p.retweet .fa + span {
                        margin-left: 10px; }
                  #profile-section .container #focus_box #profile_page_info .col-lg-9 #con_wrapper #connections_box #con_load_box #media_container .media.tweet p.tweet_stats {
                    margin-top: 6px; }
                    #profile-section .container #focus_box #profile_page_info .col-lg-9 #con_wrapper #connections_box #con_load_box #media_container .media.tweet p.tweet_stats span {
                      color: #8899a6; }
                      #profile-section .container #focus_box #profile_page_info .col-lg-9 #con_wrapper #connections_box #con_load_box #media_container .media.tweet p.tweet_stats span:last-of-type {
                        margin-left: 15px; }
                      #profile-section .container #focus_box #profile_page_info .col-lg-9 #con_wrapper #connections_box #con_load_box #media_container .media.tweet p.tweet_stats span .fa {
                        font-size: 20px; }
                  #profile-section .container #focus_box #profile_page_info .col-lg-9 #con_wrapper #connections_box #con_load_box #media_container .media:nth-of-type(odd) {
                    background: #f7f7f7; }
                  #profile-section .container #focus_box #profile_page_info .col-lg-9 #con_wrapper #connections_box #con_load_box #media_container .media:hover {
                    border: solid 1px #08f !important; }
                  #profile-section .container #focus_box #profile_page_info .col-lg-9 #con_wrapper #connections_box #con_load_box #media_container .media:last-of-type {
                    border-bottom: solid 1px #ddd; }
                #profile-section .container #focus_box #profile_page_info .col-lg-9 #con_wrapper #connections_box #con_load_box button#see_more {
                  width: 100%;
                  margin-top: 10px; }
      #profile-section .container #focus_box ul#sub_pics {
        list-style: none;
        -webkit-padding-start: 0;
        width: 300px;
        margin: 0; }
        #profile-section .container #focus_box ul#sub_pics li {
          display: inline-block;
          margin-left: 10px;
          margin-top: 10px; }
          #profile-section .container #focus_box ul#sub_pics li:nth-of-type(odd) {
            margin-left: 0; }
          #profile-section .container #focus_box ul#sub_pics li img {
            margin-bottom: 0;
            width: 120px;
            height: 120px; }
            @media screen and (max-width: 768px) {
              #profile-section .container #focus_box ul#sub_pics li img {
                width: 135px;
                height: 135px; } }
        #profile-section .container #focus_box ul#sub_pics + .clearfix + a {
          margin-bottom: 10px;
          display: block; }
  #profile-section .timer_box {
    padding: 0;
    text-align: center;
    cursor: pointer;
    background: #fff;
    z-index: 99; }
    #profile-section .timer_box .border_active {
      bottom: 0;
      margin-top: 6px;
      width: 100%;
      height: 4px;
      background: #fff;
      transition: 0.7s; }
    #profile-section .timer_box:hover .border_active {
      background: #06f; }
    #profile-section .timer_box#active .border_active {
      background: #06f; }
    #profile-section .timer_box .inside {
      padding: 14px 15px 0;
      background: #fff; }
      #profile-section .timer_box .inside h3 {
        color: #090127;
        font-size: 13px;
        margin: 0;
        letter-spacing: .02em; }
      #profile-section .timer_box .inside p {
        font-size: 18px;
        margin: 0;
        color: #090127;
        font-weight: 600;
        height: auto !important; }

#match_box h1 span {
  font-size: 18px;
  display: block;
  margin-top: 9px;
  margin-right: 20px; }
#match_box #match_load {
  margin-bottom: 20px;
  padding: 0;
  border-bottom: solid 1px #ccc; }
  #match_box #match_load .none {
    border: none; }
#match_box textarea {
  height: 100px;
  border-radius: 3px; }
#match_box button {
  float: right;
  margin-top: 10px; }
#match_box .twitter-share-button {
  margin-top: 6px;
  font-size: 16px; }

#disqus_thread {
  padding: 0 10px;
  margin: 8px 0;
  border: solid 1px #ddd;
  background: #f8f8f8; }

#discover_box {
  position: relative;
  min-height: 600px; }
  #discover_box #users_load .jumbotron {
    text-align: left;
    border: solid 1px #ccc; }
    @media screen and (max-width: 768px) {
      #discover_box #users_load .jumbotron h1 {
        font-size: 18px;
        height: auto !important;
        margin-bottom: 10px !important; } }
    #discover_box #users_load .jumbotron h1 img {
      vertical-align: middle !important;
      display: inline; }
      @media screen and (max-width: 768px) {
        #discover_box #users_load .jumbotron h1 img {
          width: 84px;
          height: 84px; } }
    @media screen and (max-width: 768px) {
      #discover_box #users_load .jumbotron #profile_discover p {
        font-size: 14px; } }

#decide_box {
  position: relative; }
  #decide_box #like_or_pass {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
    padding: 20px;
    background: #eee;
    z-index: 999;
    border: solid 1px #ccc; }

.rotate-left,
.rotate-right {
  opacity: 0;
  transition: 1s; }

.rotate-left {
  transform: rotate(30deg) scale(0.8);
  margin-left: 400px;
  cursor: e-resize; }

.rotate-right {
  transform: rotate(-30deg) scale(0.8);
  margin-left: -400px;
  cursor: w-resize; }

.status {
  font-size: 42px;
  border-radius: 5px;
  padding: 5px 10px;
  text-transform: uppercase;
  position: absolute;
  text-shadow: none;
  top: 50px; }

.like {
  border: 2px solid #82b919;
  color: #82b919;
  right: 40px; }

.dislike {
  border: 2px solid #ffae1a;
  color: #ffae1a;
  left: 40px; }

/* Chart Data */
#chart_load {
  background: #f0f0f0;
  padding-bottom: 0;
  margin: 15px 0 25px 0; }
  #chart_load #chart_data #glance h3 {
    font-size: 28px; }
    @media screen and (max-width: 768px) {
      #chart_load #chart_data #glance h3 {
        font-size: 20px; } }
  #chart_load #chart_data #chart_block {
    padding: 10px; }
    #chart_load #chart_data #chart_block ul {
      margin-bottom: 0; }
      @media screen and (max-width: 768px) {
        #chart_load #chart_data #chart_block ul {
          display: none; } }
      #chart_load #chart_data #chart_block ul li {
        background: #fff !important;
        cursor: auto;
        padding: 4px 12px;
        line-height: 2.0;
        font-size: 24px;
        cursor: auto; }
        #chart_load #chart_data #chart_block ul li:hover {
          color: #000 !important; }
  #chart_load #chart_data #mr,
  #chart_load #chart_data #mrs {
    padding: 10px; }
    #chart_load #chart_data #mr .hottest_name,
    #chart_load #chart_data #mrs .hottest_name {
      margin-left: 10px; }
      @media screen and (max-width: 768px) {
        #chart_load #chart_data #mr .hottest_name,
        #chart_load #chart_data #mrs .hottest_name {
          display: none; } }
      #chart_load #chart_data #mr .hottest_name span,
      #chart_load #chart_data #mrs .hottest_name span {
        font-size: 24px; }

/**
 * Autocomplete
 */
#search_container {
  position: fixed;
  top: 50px;
  border: none;
  z-index: 9999;
  background: #fff; }
  @media screen and (max-width: 768px) {
    #search_container {
      padding: 0 20px;
      border-bottom: solid 1px #555; } }
  @media screen and (min-width: 992px) {
    #search_container {
      padding: 0 120px;
      border-bottom: solid 1px #ccc; } }
  #search_container .input-group {
    height: 100%;
    margin-top: 2px; }
    #search_container .input-group .input-group-addon {
      font-size: 16px;
      color: #0993c7; }
    #search_container .input-group .form-control {
      border: none !important;
      outline: none !important;
      box-shadow: none !important;
      font-size: 18px;
      padding: 12px 10px;
      height: 35px; }
      #search_container .input-group .form-control:focus {
        outline: none !important; }

#autocomplete {
  border-bottom: none;
  text-align: left;
  display: none;
  margin-top: -2px; }
  #autocomplete ul.list-group li span {
    font-size: 18px; }
  #autocomplete ul.list-group li img {
    vertical-align: text-top; }

#autocomplete_wrapper {
  width: 100% !important;
  position: fixed;
  top: 93px;
  z-index: 9999;
  padding-left: 120px;
  padding-right: 120px;
  border: none;
  background: #fff;
  text-align: center; }
  #autocomplete_wrapper .input-group,
  #autocomplete_wrapper .form-control {
    border-bottom: none;
    border: none !important; }

/**
 * Carousel
 */
.main-icon {
  font-size: 350px;
  color: #000; }

.head-line {
  font-size: 70px;
  padding-bottom: 10px;
  line-height: 65px;
  font-weight: 900;
  color: #0d4f8b; }

.main-top-margin {
  background: #fff;
  margin-top: 0; }
  .main-top-margin p {
    color: #777;
    font-size: 26px; }

/**
 * Admin
 */
.admin {
  padding-top: 55px !important; }

body {
  font-family: 'Open Sans', sans-serif; }

h1 {
  padding-top: 30px;
  color: #000;
  font-weight: 400; }
  h1.static {
    padding-top: 0;
    color: #000 !important;
    height: auto !important;
    font-size: 28px; }
    h1.static span#distance {
      font-size: 16px;
      display: block; }

h5 {
  padding-bottom: 30px; }

hr {
  border-color: #ccc;
  margin-bottom: 5px; }
  hr + span {
    color: #999; }

a {
  outline: none;
  text-decoration: none; }
  a:hover, a:focus {
    outline: none;
    text-decoration: none; }

.ajax-loader {
  width: 100%;
  text-align: center;
  padding: 10px;
  margin-top: 14px;
  padding: 70px 0; }

.noUi-background {
  background: #fff; }

.noUi-connect {
  background: #0993c7 !important; }

#about_box,
#bottom_box {
  border-left: none;
  border-right: none;
  color: #fff;
  font-size: 32px; }

#about_box {
  background: #fff;
  padding: 20px 30px 0 30px;
  z-index: 999;
  margin-top: -90px;
  border: solid 1px #ddd; }

.none,
.main_none {
  padding: 8px;
  text-align: center;
  background: #fff;
  font-size: 24px;
  padding: 30px 10px;
  color: #000; }

.main_none {
  padding: 40px 10px; }
